html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
	padding: 40px;
}

.headtitle{
	position: fixed;
	text-align: center;
	font-family: MyriadProRegular;
	font-size: 18px;
	top: 10px;
	left: 50%;
}

.box{
	background-color: #56836F;
	height: 100%;
	width: 100%;
	padding: 3%;
}


.logo{
	float: right;
	width: 14.6%;
}

.headnav{
	float: right;
}

.head{
	display: inline-block;
	vertical-align: middle;
}

.head1{
	padding-right: 60px;
	font-size: 48px;
	color: white;
	font-family: MyriadProRegular;
}


.article-box{
	margin-top: 7.6%;
}

.article{
	width: 49%;
	height: 45%;
	background-color: #FCEE21;
}

.article p{
	margin: 26px;
	font-size: 14px;
	font-family: SegoeUI;
}

.article.f-left img{
	margin: 18px 32px 9px 22px;
}
.article.f-right img{
	margin: 18px 26px 9px 22px;
}

.f-left{
	float: left;
}
.f-right{
	float: right;
}

.clear{
	clear: both;
}
